@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2079 0.0399 265.7275);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2079 0.0399 265.7275);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2079 0.0399 265.7275);
  --primary: oklch(0.6232 0.1879 259.7964);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9684 0.0068 247.8951);
  --secondary-foreground: oklch(0.2079 0.0399 265.7275);
  --muted: oklch(0.9684 0.0068 247.8951);
  --muted-foreground: oklch(0.5547 0.0407 257.4404);
  --accent: oklch(0.9684 0.0068 247.8951);
  --accent-foreground: oklch(0.2079 0.0399 265.7275);
  --destructive: oklch(0.628 0.2577 29.2339);
  --destructive-foreground: oklch(0.9838 0.0035 247.8583);
  --border: oklch(0.929 0.0126 255.5317);
  --input: oklch(0.929 0.0126 255.5317);
  --ring: oklch(0.2079 0.0399 265.7275);
  --chart-1: oklch(0.6091 0.211 32.8375);
  --chart-2: oklch(0.6972 0.1606 57.5708);
  --chart-3: oklch(0.8238 0.1652 95.946);
  --chart-4: oklch(0.8682 0.2019 120.0665);
  --chart-5: oklch(0.8285 0.2341 134.4791);
  --sidebar: oklch(0.9848 0 0);
  --sidebar-foreground: oklch(0.2079 0.0399 265.7275);
  --sidebar-primary: oklch(0.2079 0.0399 265.7275);
  --sidebar-primary-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-accent: oklch(0.9684 0.0068 247.8951);
  --sidebar-accent-foreground: oklch(0.2079 0.0399 265.7275);
  --sidebar-border: oklch(0.929 0.0126 255.5317);
  --sidebar-ring: oklch(0.2079 0.0399 265.7275);
  --font-sans: Inter, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0.5rem;
  --shadow-blur: 1rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.1;
  --shadow-color: 0 0% 0%;
  --shadow-2xs: 0 0.5rem 1rem 0 hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 0.5rem 1rem 0 hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 0.5rem 1rem 0 hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 0.5rem 1rem 0 hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 0.5rem 1rem 0 hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 0.5rem 1rem 0 hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 0.5rem 1rem 0 hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 0.5rem 1rem 0 hsl(0 0% 0% / 0.25);
  --tracking-normal: 0;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2079 0.0399 265.7275);
  --foreground: oklch(0.9838 0.0035 247.8583);
  --card: oklch(0.2079 0.0399 265.7275);
  --card-foreground: oklch(0.9838 0.0035 247.8583);
  --popover: oklch(0.2079 0.0399 265.7275);
  --popover-foreground: oklch(0.9838 0.0035 247.8583);
  --primary: oklch(0.6232 0.1879 259.7964);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.315 0.0432 259.9562);
  --secondary-foreground: oklch(0.9838 0.0035 247.8583);
  --muted: oklch(0.315 0.0432 259.9562);
  --muted-foreground: oklch(0.7106 0.0354 256.7885);
  --accent: oklch(0.315 0.0432 259.9562);
  --accent-foreground: oklch(0.9838 0.0035 247.8583);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(0.9838 0.0035 247.8583);
  --border: oklch(0.315 0.0432 259.9562);
  --input: oklch(0.315 0.0432 259.9562);
  --ring: oklch(0.8688 0.0198 252.8472);
  --chart-1: oklch(0.6091 0.211 32.8375);
  --chart-2: oklch(0.6972 0.1606 57.5708);
  --chart-3: oklch(0.8238 0.1652 95.946);
  --chart-4: oklch(0.8682 0.2019 120.0665);
  --chart-5: oklch(0.8285 0.2341 134.4791);
  --sidebar: oklch(0.2079 0.0399 265.7275);
  --sidebar-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-primary: oklch(0.6232 0.1879 259.7964);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.315 0.0432 259.9562);
  --sidebar-accent-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-border: oklch(0.315 0.0432 259.9562);
  --sidebar-ring: oklch(0.8688 0.0198 252.8472);
  --font-sans: Inter, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0.5rem;
  --shadow-blur: 1rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.5;
  --shadow-color: 0 0% 0%;
  --shadow-2xs: 0 0.5rem 1rem 0 hsl(0 0% 0% / 0.25);
  --shadow-xs: 0 0.5rem 1rem 0 hsl(0 0% 0% / 0.25);
  --shadow-sm: 0 0.5rem 1rem 0 hsl(0 0% 0% / 0.5),
    0 1px 2px -1px hsl(0 0% 0% / 0.5);
  --shadow: 0 0.5rem 1rem 0 hsl(0 0% 0% / 0.5),
    0 1px 2px -1px hsl(0 0% 0% / 0.5);
  --shadow-md: 0 0.5rem 1rem 0 hsl(0 0% 0% / 0.5),
    0 2px 4px -1px hsl(0 0% 0% / 0.5);
  --shadow-lg: 0 0.5rem 1rem 0 hsl(0 0% 0% / 0.5),
    0 4px 6px -1px hsl(0 0% 0% / 0.5);
  --shadow-xl: 0 0.5rem 1rem 0 hsl(0 0% 0% / 0.5),
    0 8px 10px -1px hsl(0 0% 0% / 0.5);
  --shadow-2xl: 0 0.5rem 1rem 0 hsl(0 0% 0% / 1.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
